body {
    width: 80%;
}

/*
this will affect elements with the 'cool' class, as shown by the '.'
e.g <div class = "cool"><div>

classes can be applied to multiple elements
*/
.cool {
    color: white;
}

/*
this will affect elements with the 'very-cool' id, as shown by the '#'
e.g <div id = "very-cool"><div>

ids should only be applied to one element
*/
#very-cool {
    background: white;
}