body {background-color: white;
  }
  
h1 {color: black; 
    text-align: center;
  }
  
p {color: black; 
    text-align: center;
  }
div {border-width:5px;
    border-style:solid;
    border-color:lightpink;
    color:darkmagenta;
    background-color: papayawhip;     
    padding:18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }